@import url(https://bootswatch.com/cosmo/bootstrap.min.css);

body {
    margin: 25px;
    color: white;
    font-family: Arial;
}

.jumbotron {
    height: 40%;
    margin: 0px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-image: url();
    background-size: cover;
    color: white;
    text-shadow: white 50.0em 50.0em 50.0em;
}
