@import url(https://bootswatch.com/cosmo/bootstrap.min.css);

/* START: Style General*/
body {
    margin-left: 25px;
    margin-right: 25px;
    font-family: Arial;
}

.a {
    color: white;
}

/* END: Style General*/


/* START: Style Jumbotron*/
.jumbotron {
    height: 35%;
    margin: 0px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-image: url();
    background-size: cover;
    color: white;
    text-shadow: white 50.0em 50.0em 50.0em;
    display: flex;
    align-items: flex-end;
}

/* END: Style Jumbotron*/


/* START: Style Navbar*/
#navbar1 {
    overflow: hidden;
    background-color: #333;
  }
  
#navbar1 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar1 a:hover {
    background-color: orange;
    color: white;
}

#navbar1 #iSmall {
    display: none;
}

@media screen and (max-width: 600px) {
    #navbar1 a:not(:first-child) {display: none;}
    #navbar1 #iSmall {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    #navbar1.responsive {position: relative;}
    #navbar1.responsive #iSmall {
      position: absolute;
      right: 0;
      top: 0;
    }
    #navbar1.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
#navbar1 a.active {
    background-color: grey;
    color: white;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
.sticky + .content {
    padding-top: 60px;
    margin-bottom: 10px;
}
/* END: Style Navbar*/


/* START: Style Map*/
.card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

#underMap {
    padding: 0 16px;
}
/* END: Style Map*/