/* START: Page dividers */
.column {
    float: left;
    width: 50.0%;
    margin-bottom: 16px;
    padding: 10px;
}

@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}
/* END: Page dividers */