@import url(https://bootswatch.com/cosmo/bootstrap.min.css);

body {
    margin-left: 25px;
    margin-right: 25px;
    font-family: Arial;
}

.jumbotron {
    height: 35%;
    margin: 0px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-image: url();
    background-size: cover;
    color: white;
    text-shadow: white 50.0em 50.0em 50.0em;
    display: flex;
    align-items: flex-end;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: orange;
    color: white;
}
  
#navbar a.active {
    background-color: grey;
    color: white;
}
  
/* Page content */
.content {
    padding: 16px;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
    margin-bottom: 10px;
}
